*.o
*.Po
.svn
*.Tpo
.deps
*.a
*.so
/trunk/game_server/game_server
/trunk/cross_server
/trunk/game_server_1
/trunk/game_server_2
/trunk/cross_server_1
/trunk/cross_server_2
/trunk/gate_server_1
/trunk/gate_server_2
*.log
/trunk/transfer_server_1
/trunk/transfer_server_2
/trunk/center_server/center_server
/trunk/db_server/db_server
/trunk/gate_server/gate_server
/trunk/autom4te.cache
boost_1_55_0
lua-5.1.5
LuaBitOp-1.0.2
protobuf-2.5.0
toluapp
/trunk/log_server/log_server
