*.o
*.Po
.svn
*.Tpo
.deps
*.a
*.so
/trunk/game_server/game_server
/trunk/cross_server
/trunk/game_server_1
/trunk/game_server_2
/trunk/cross_server_1
/trunk/cross_server_2
/trunk/gate_server_1
/trunk/gate_server_2
*.log
/trunk/transfer_server_1
/trunk/transfer_server_2
/trunk/center_server/center_server
/trunk/db_server/db_server
/trunk/gate_server/gate_server
